<header class="jumbotron">
    <h1>cadastro de fotos</h1>
</header>
<main class="container">

    <div class="row" *ngIf="mensagem.texto">
        <div class="col-md-12">
            <mensagem [texto]="mensagem.texto" [tipo]="mensagem.tipo"></mensagem>
        </div>
    </div>

    <div class="row">
        <form [formGroup]="formCadastro" class="col-md-7" (ngSubmit)="salvar()">
            <div class="form-group">
                <label for="">Título</label>
                <input formControlName="titulo" [(ngModel)]="foto.titulo" name="titulo" type="text" class="form-control">

                <div *ngIf="formCadastro.controls.titulo.errors">
                    <mensagem 
                        *ngIf="formCadastro.controls.titulo.errors.required && formCadastro.controls.titulo.touched" 
                        texto="Titulo invalido" 
                        tipo="danger"></mensagem>
                    <mensagem 
                        *ngIf="formCadastro.controls.titulo.errors.minlength && formCadastro.controls.titulo.touched" 
                        texto="Digite pelo menos {{formCadastro.controls.titulo.errors.minlength.requiredLength}} digitos" 
                        tipo="danger"></mensagem>
                </div>
                
            </div>
            <div class="form-group">
                <label for="">URL</label>
                <input formControlName="url" [(ngModel)]="foto.url" name="url" type="text" class="form-control">
                <mensagem *ngIf="formCadastro.controls.url.invalid && formCadastro.controls.url.touched" texto="URL invalido" tipo="danger"></mensagem>
            </div>
            <div class="form-group">
                <label for="">Descrição</label>
                <textarea formControlName="descricao" [(ngModel)]="foto.descricao" name="descricao" type="text" class="form-control">
                </textarea>
            </div>

            <a routerLink="/" class="btn btn-secondary">Voltar</a>
            <button [disabled]="formCadastro.invalid" class="btn btn-primary">Gravar</button>
        </form>

        <aside class="col-md-5" *ngIf="foto.url">
            <painel [titulo]="foto.titulo">
                <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
            </painel>
        </aside>

    </div>

</main>