<header class="jumbotron">
        <img src="assets/img/logo.png" alt="{{titulo}}" title="{{titulo}}">
    </header>
    
    <main class="container">
        
        <div class="row" *ngIf="mensagem.texto">
            <div class="col-sm-12">
                <mensagem [texto]="mensagem.texto" [tipo]="mensagem.tipo"></mensagem>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <form class="input-group">
                    <span class="input-group-prepend">
                        <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
                    </span>
                    <input (input)="$event" #inputBusca type="text" class="form-control">
                </form>
            </div>
        </div>
        
        <div class="row">
            <painel *ngFor="let foto of fotos | filtroPorTitulo : inputBusca.value " [titulo]="foto.titulo | uppercase" class="col-md-2">
                <a [routerLink]="['/cadastro', foto._id]"><foto [url]="foto.url" [titulo]="foto.titulo"></foto></a>
                
                <botao (acao)="apagar(foto._id)" estilo="danger" confirmacao="false" >Remover</botao>
            </painel>
        </div>
    </main>